<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{
        message
        }}
        <ol>
            <todo-item v-for='item in groceryList' v-bind:todo='item'></todo-item>
        </ol>
        <p>Using mustaches: {{ rawHtml }}</p>
        <p>Using v-html directive: <span v-html="rawHtml"></span></p>
    </div>



    <!-- <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>

    <div id="app-3">
        <span v-if="aaa">你看到我</span>
    </div>


    <div id="app-4">
        <span v-for="a in aaa">
            {{a.text}}
        </span>
        <span>{{message}}</span>
        <button v-on:click="fn">逆转消息</button>
        <input v-model='message'>
    </div> -->
    <script src='index.js'></script>
</body>

</html>